@charset "UTF-8";
ul, .main nav, .picture, .icon {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.top, .logo, .contents, footer, .main nav {
  margin: 0 auto;
  width: 980px;
}

/* header start */

/* top menu */

.underline {
  border-bottom: 1px solid #ddd;
}

.top {
  padding: 5px;
}

.top ul {
  justify-content: flex-end;
}

.top li {
  padding: 0 10px;
  color: #888;
  border-right: 1px solid #ddd;
}

.top li:last-child {
  border-right: none;
  padding-right: 0;
}

.top li:hover {
  color: #000;
}

/* logo */

.logo {
  position: relative;
  height: 75px;
  padding: 12px;
}

h1 {
  text-align: center;
}

.toggleIcon {
  position: absolute;
  top: 14px;
  right: 0;
  width: 45px;
  height: 45px;
  border: 1px solid #ddd;
  padding-top: 10px;
}

header [class*=bar] {
  width: 20px;
  height: 2px;
  background: #666666;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.global {
  background: #1c5da3;
  width: 100%;
}

.global ul {
  height: 45px;
  width: 980px;
  margin: 0 auto;
  color: #fff;
}

.global li {
  flex-basis: 165px;
  text-align: center;
  height: 45px;
  line-height: 45px;
  border-left: 1px solid #336eac;
}

.global li:last-child {
  border-right: 1px solid #336eac;
}

/* header end */

/* main section start */

/* slide */

.main {
  background: #eee;
}

.slide {
  width: 100%;
  height: 400px;
  background: url(../img/banner.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

.swrap {
  margin: 0 auto;
  width: 980px;
  position: relative;
}

.bulb {
  width: 100%;
  height: 400px;
  position: absolute;
  right: 0;
  background: url(../img/bulb.png) no-repeat 610px 45px;
}

.light {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #ffff00;
  position: absolute;
  top: 50px;
  right: 85px;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 163, 1) 1%, rgba(255, 255, 255, 0) 60%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 163, 1) 1%, rgba(255, 255, 255, 0) 60%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(255, 255, 163, 1) 1%, rgba(255, 255, 255, 0) 60%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-transition: transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s;
}

.slide:hover .light {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.text {
  font-size: 72px;
  line-height: 82px;
  letter-spacing: 30px;
  font-weight: bold;
  position: absolute;
  top: 60px;
}

.text span {
  background: linear-gradient(to bottom, #ffffff, #d6d6d6);
  background: -moz-linear-gradient(to bottom, #ffffff, #d6d6d6);
  background: -webkit-linear-gradient(to bottom, #ffffff, #d6d6d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subt {
  position: absolute;
  font-size: 16px;
  top: 255px;
  color: #fff;
  text-shadow: 0 0 5px #1A2F5C;
}

.bars div {
  position: absolute;
  width: 58px;
  height: 4px;
  background: #fff;
  top: 331px;
  left: 65px;
}

.bars div:first-child {
  background: #15477C;
  left: 0;
}

.bars div:last-child {
  left: 130px;
}

/* main navigation */

.main nav {
  height: 196px;
}

.main nav section {
  flex-basis: 20%;
  position: relative;
}

.main nav h2, .main nav p {
  position: absolute;
  text-align: center;
  width: 196px;
  color: #fff;
}

.main nav p {
  letter-spacing: -0.5px;
}

.main nav h2 {
  font-size: 18px;
  bottom: 45px;
}

.main nav p {
  font-size: 14px;
  bottom: 20px;
}

.main nav section {
  background-image: url(../img/bigicons.png);
}

.bigmenu1 {
  background-color: #7C99B9;
  background-position: 0 0;
}

.bigmenu2 {
  background-color: #4F74A1;
  background-position: 196px 0;
}

.bigmenu3 {
  background-color: #4B8CE0;
  background-position: 392px 0;
}

.bigmenu4 {
  background-color: #3DB5F4;
  background-position: 588px 0;
}

.bigmenu5 {
  background-color: #95C8FF;
  background-position: 784px 0;
}

/* main section end */

/* contents start */

.contents {
  margin: 50px auto;
}

.contents section {
  justify-content: space-between;
}

.contents article {
  text-overflow: ellipsis;
  flex-basis: 310px;
  border: 1px solid #dddddd;
  position: relative;
}

.contents h2, .contents p {
  position: absolute;
}

.contents h2 {
  left: 15px;
  font-size: 18px;
  font-weight: normal;
}

.contents p {
  font-size: 12px;
  color: #888888;
  width: 280px;
  left: 15px;
  overflow: hidden;
}

/* articles with picture */

.picture {
  margin-bottom: 20px;
  height: 285px;
}

.picture h2 {
  top: 200px;
}

.picture p {
  top: 235px;
  height: 35px;
}

.picture div {
  height: 180px;
}

.pic1 div {
  background: url(../img/pic1.png);
}

.pic2 div {
  background: url(../img/pic2.png);
}

.pic3 div {
  background: url(../img/pic3.png);
}

/* articles with icon */

.icon {
  height: 165px;
}

.icon h2 {
  top: 20px;
}

.icon h2+p {
  top: 55px;
  width: 140px;
  height: 50px;
}

p.blue {
  color: #4b8ce0;
  bottom: 20px;
}

.icon div {
  background-image: url(../img/icons.png);
  top: 0;
  left: 0;
  width: 310px;
  height: 165px;
}

.i1 div {
  background-position: 0 0;
}

.i2 div {
  background-position: 310px 0;
}

.i3 div {
  background-position: 650px 0;
}
