@charset "UTF-8";
ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

/* header start */

/* top menu */

.underline {
  border-bottom: 1px solid #ccc;
}

.top {
  width: 980px;
  padding: 5px;
  margin: 0 auto;
}

.top ul {
  justify-content: flex-end;
}

.top li {
  padding: 0 10px;
  border-left: 1px solid #000;
}

.top li:first-child {
  border-left: none;
}

.top li:hover {
  color: skyblue;
}

/* logo */

.logo {
  margin: 0 auto;
  width: 980px;
  position: relative;
  height: 75px;
  background: lightyellow;
  padding: 12px;
}

h1 {
  text-align: center;
}

.toggleIcon {
  position: absolute;
  top: 14px;
  right: 0;
  width: 45px;
  height: 45px;
  border: 1px solid #ddd;
  padding-top: 10px;
}

[class*=bar] {
  width: 20px;
  height: 2px;
  background: #666666;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
